@import "../../styles/variables.scss";

.nav {
  padding: 10px;
  background: $blue;
  a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
  }
}

.footer {
  padding: 20px;
}
